@font-face {
  font-family: "Vazir";
  src: url("./assets/font/Vazir.ttf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  font-family: "Vazir";
}
